*~
.metadata
.cproject
.project
ocv/Debug/
ocv/Release/
BaseClass/CMakeFiles/*
BaseClass/Debug/*
BaseClass/.settings/*
BaseClass/test
CMakeCache.txt
#file di progetto xcode
base/
library/
*.o
*.a
BaseClass/src/author.h

#solo progetto locale
.gitignore
BaseClass/qr/main.cpp
BaseClass/src/QRScanner.h
BaseClass/src/QRScanner.cpp
BaseClass/src/Session.h
BaseClass/src/Server.h
BaseClass/src/MarkerDetector.h
BaseClass/src/MarkerDetector.cpp
BaseClassTest/src/QRScannerTest.cpp
